*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{   
    background-color: whitesmoke;
    font-family: 'Century Gothic',sans-serif;
}

nav{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #051f58;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logobox{
    margin-left: 15px;
}
nav .logo{
    color: white;
    position: relative;
    bottom: 12px;
    font-weight: bold;
    font-size: 1em;
}
nav img{
    height: 2.5em;
}
.nav__links{
    display: inline-flex;
    align-items: center;
}
.nav__items{
    color: #fff;
    padding: 18px 10px;
    /* border-radius: 2px; */
}
.nav__items:hover{
    background-color: #041842;
}
.logout{
    /* margin-left: 0.5rem; */
    border-bottom: 3px solid crimson;
    padding: 18px 20px;
}
.logout:hover{
    transition: .1s;
    background-color: crimson;
}

.main{
    position: relative;
}

.dropdown{
    display: none;
}
.toggle{
    display: none;
}
@media screen and (max-width: 768px){ 
    /* SMALL SCREEN */
    .toggle{
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 1.6rem;
        padding: 14px 20px;
    }
    .nav__links{
        display: none;
    }

    .dropdown{
        display: block;
        position: fixed;
        top: 3rem;
        right: 0.5rem;
        border-radius: 1rem;
        background-color: #051f58;
        width: 18rem;
        transition: .2s ease;
        visibility: hidden;
    }
    .show-menu{
        transition: .2s ease-in-out;
        visibility: visible;
        top: 4.5rem;
    }
    .drop-item{
        display: flex;
        text-align: center;
    }
    .dropdown ul{
        display: flex;
        flex-direction: column;
    }
    .dropdown ul li a{
        width: 100%;
        color: #fff;
        padding: 18px;
    }
    .logout-drop{
        border-bottom-left-radius: 1rem;
        padding: 11px !important;
        border-bottom-right-radius: 1rem;
        background-color: crimson;
    }
    .logout-drop:hover{
        background-color: rgb(192, 15, 50);
    }
}

/****   DASHBOARD STYLE END  ****/

.wrapper{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5rem;
}



.footer{
    margin-top: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(5, 31, 88);
}

.barre{
    width: 100%;
    height: 1px;
    margin: 8px 0;
    background-color: rgb(173, 173, 173);
}




/****/
/* ACCORDIONS STYLE START **********************  */
.acc{
    margin-bottom: 3px;
}

.accordion {
    background-color: #ddd;
    cursor: pointer;
    border: none;
    border-left: 5px solid rgb(27, 18, 59);
    color: black;
    padding: 8px 8px 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.qTitle{
    color: #222;
}
/* .active, .accordion:hover{} */
.panel {
    padding: 0 18px;
    display: none;
    flex-direction: column;
    background-color: whitesmoke;
    overflow: hidden;
}
.panel .content{
    padding: 10px 0;
}
.accordion:after{
    content: '+';
    color: rgb(22, 9, 70);
    font-size: 1.5em;
}
.active:after{
    content: '-';
    position: relative;
    right: 4px;
}
.operation{
    margin: 10px 0;
    align-self: flex-end;
}
.op-btn{
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 10px;
}
.op-btn a {
    color: #fff;
}
.delete-btn{
    background-color: #dc143c;
}

.answer-btn{
    background-color: #1ba01b;
}
/* ACCORDIONS STYLE END ****************************** */