*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
html{
    scroll-behavior: smooth;
}
body{   
    background-color: whitesmoke;
    font-family: 'Century Gothic',sans-serif;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
.wrapper2{
    width: 80%;
    padding-top: 10px;
    margin: 0 auto;
}
.container{
    margin-top: 10px;
    background-color: rgb(233, 233, 233);
}

nav{
    background-color: rgb(5, 31, 88);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .logo{
    color: white;
    position: relative;
    bottom: 2px;
    margin-left: 8px;
    font-weight: bold;
    font-size: 1em;
}
nav img{
    position: relative;
    top: 2px;
    height: 2.5em;
}
.faq-banner{
    padding-top: 105px;
    background: linear-gradient(to right,  rgba(10, 24, 90, 0.6), rgba(129, 28, 188, 0.6)),url(../img/ai_banner.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    border-radius: 3px;
    height: 400px;
    margin-top: 10px;
}

.ask-question{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ask-question .z-quest span{
    font-size: 2em;
    padding: 8px 25px;
}
.ask-question a{
    font-size: 2em;
    color: white;
    border-radius: 7px;
    background-color: rgba(0, 10, 27, 0.651);
    padding: 8px 25px;
}
.search{
    z-index: 4;
    margin-top: 40px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search form input{
    border: none;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    padding: 13px 30px;
    width: 600px;
}
.search form{
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
    background-color: white;
}.search form button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.search form i{
    font-size: 20px;
    margin: 0 15px;
    color: rgb(5, 31, 88);
}



/* EXTRA START ***********************************  */
h2{
    color: rgb(0, 16, 29);
    font-size: 28px;
    text-align: center;
}
.barre{
    width: 100%;
    height: 1px;
    margin-top: 8px;
    background-color: rgb(173, 173, 173);
}
.btn{
    cursor: pointer;
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgb(5, 31, 88);
}
.btn:hover{
    background-color: rgb(10, 46, 122);
}
/* EXTRA END ***********************************  */


/* ACCORDIONS STYLE START **********************  */
.acc{
    margin-bottom: 3px;
}
.accordion {
    background-color: #ddd;
    cursor: pointer;
    border: none;
    border-left: 5px solid rgb(27, 18, 59);
    color: black;
    padding: 8px 8px 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.qTitle{
    color: #222;
}
/* .active, .accordion:hover{} */
.panel {
    padding: 0 18px;
    display: none;
    background-color: whitesmoke;
    overflow: hidden;
}
.panel .content{
    padding: 10px 0;
}
.accordion:after{
    content: '+';
    color: rgb(22, 9, 70);
    font-size: 1.5em;
}
.active:after{
    content: '-';
    position: relative;
    right: 4px;
}
/* ACCORDIONS STYLE END ****************************** */



/* TAB FORMMULAIRES ************************** /


/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab .tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 9px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  /* Change background color of buttons on hover */
  .tab .tablinks:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab .tablinks.active {
      color: white;
    background-color: rgb(5, 31, 88);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 12px;
    background-color: whitesmoke;
    /* border: 1px solid #ccc; */
    /* border-top: none; */
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }


  /*****  questionTab start  ******/

.tabcontent input{
    border: 1px solid #bbb;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
}
.tabcontent input:focus{
    border-left-color: rgb(5, 31, 88);
}
.tabcontent input[type=checkbox]{
    margin-left: 15px;
}
textarea{
    border: 1px solid #ccc;
}

.qSimple, .detailQuestTitle{
    width: 100%;
}
#mymail,#mymail2{
    width: 50%;
}
  /*****  questionTab end     ******/


  .footer{
      font-weight: bold;
      color: white;
      text-align: center;
      padding: 20px 0;
      background-color: rgb(5, 31, 88);
  }
/* TAB FORMULAIRES ***************************/



@media (max-width: 928px){
    .search form input{
        border: none;
        font-size: 14px;
        outline: none;
        border-radius: 5px;
        padding: 13px 30px;
        width: 400px;
    }
}
@media (max-width: 848px){
    .faq-banner{
        padding-top: 70px;
        background: linear-gradient(to right,  rgba(10, 24, 90, 0.6), rgba(129, 28, 188, 0.6)),url(../img/ai_banner.jpg) no-repeat center;
        background-size: cover;
        background-position: right;
        background-attachment: fixed;
    }
    .ask-question .z-quest span{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .ask-question a{
        display: block;
        font-size: 1.5em;
        text-align: center;
        color: white;
        border-radius: 7px;
        background-color: rgba(0, 10, 27, 0.651);
        padding: 8px 25px;
    }
    .search form input{
        border: none;
        font-size: 14px;
        outline: none;
        border-radius: 5px;
        padding: 13px 30px;
        width: 200px;
    }
}

/* For EasyMDE editor */
.editor-preview-font {
    font-family: Fira Code, Avenir, sans-serif;
}

/* Spinner  */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #2e2769 transparent #2e2769 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #2e2769;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ellipsis div:nth-child(1) {
  left: 8px;
  animation: ellipsis1 0.6s infinite;
}
.ellipsis div:nth-child(2) {
  left: 8px;
  animation: ellipsis2 0.6s infinite;
}
.ellipsis div:nth-child(3) {
  left: 32px;
  animation: ellipsis2 0.6s infinite;
}
.ellipsis div:nth-child(4) {
  left: 56px;
  animation: ellipsis3 0.6s infinite;
}
@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}